nav {
    display: flex;
    align-items: center;
    min-width: 1200px;
    height: 70px;
    background-color: black;
    border: 2px solid white;
}

nav p {
    font-size: xx-large;
    margin-left: 20px;
    color: white;
}

nav ul {
    display: flex;
    margin-left: 30px;
}

ul li {
    margin-left: 30px;
    color: white;
}